.main_container{
    margin: 0;
    height: 100%;
    width: 100%;
}

.first_container{
    display: block;
    height: 55rem;

}

.content_container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    height: 32rem;
      
}
.img_wrapper{
 
    justify-content: center;

    .second_img_container{
      img{
        margin: 0.25rem;
      }
   
    }

   

}

.name_price_continer{
   display: block;
   justify-content: space-between;
   width: 22rem;
   height: 36rem;
   padding: 0px 2rem 0px 4rem;
  

   .productPrice_wrapper{
    display: block;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
    h6{
        font-size: 1.5rem ;
    }
}

.wrapper{
    display: block;
    height: 30%;
    position: relative;
    top: 8rem;    

    .dropdown_size_container{

        .dropdown_size_container {
            text-align: left;
            border: 1px solid rgb(12, 12, 12);
            position: relative;
            border-radius: 5px;
            cursor: pointer;
           

          }
          
          .dropdown_size_input {
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            user-select: none;
    
          }
          .dropdown_size_menu{
            position: absolute;
            top: 3rem;
            right: 0px;
    
            width: 100%; 
            border: 1px solid #ccc;
            border-radius: 5px;
            overflow: auto;
            max-height: 9.5rem;
            background-color: #fff;
        
        }
        .dropdown_size_item{
            padding: 0.24rem;
            cursor: pointer;
        
            &:hover{
                background-color: #4d576670;
            }
        }
        
    }


    .wrapper_button{
    display: flex;
    margin-top: 1rem;


        .card_button{
        width: 13rem;
        padding: 0.50rem;
        font-size: medium;
        margin-right: 0.5rem;
        border: 5px solid black;
        border-radius: 5px;
        background-color: black;
        color: white;
        cursor: pointer;
    
    }

    .favorite_button{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:9rem;
        padding: 0.50rem;     
        font-size: medium;
        font-weight: 600;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
        color: black;
        cursor: pointer;

        .fav_HeartStraight{
            color: black;
           


        }
    }
}
}
}
.second_container{


height: 50rem;
padding: 10rem;

      .wrapper {
        width: 100%;
        margin: 0 auto;
      }
      .tabs {
        position: relative;
        margin: 3rem 0;
       
        height: 14.75rem;
      }
      .tabs::before,
      .tabs::after {
        content: "";
        display: table;
      }
      .tabs::after {
        clear: both;
      }
      .tab {
        float: left;
      }
      .tab-switch {
        display: none;
      }
      .tab-label {
        position: relative;
        display: block;
        line-height: 2.75em;
        padding: 0 1.618em;
  
        cursor: pointer;
        top: 0;
        transition: all 0.25s;
      }

      .tab-content {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        z-index: 1;
        top: 2.75em;
        left: 0;
        padding: 1.618rem;
        background: #fff;
        color: #000000;
    
        opacity: 0;
        transition: all 0.35s;

        .first-box{
            width: 30%;
            margin-right: 5rem;
            table {
            
              width: 100%;
            }
            .destaques_ul{
              list-style: square;
            }
            .Informações_ul{
              font-size: small;
            }
        }
        .second-box{
            width: 30%;
            margin-right: 5rem;
        }

      }
      .tab-switch:checked + .tab-label {
     
        border-bottom:  3px solid rgb(15, 119, 216);
        color: #050505;
        transition: all 0.35s;
        z-index: 1;
        top: -0.0625rem;
      }
      .tab-switch:checked + label + .tab-content {
        z-index: 2;
        opacity: 1;
        transition: all 0.35s;
      }

}








