.main_container{
    display: block;


}

.content_container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    height: 32rem;
      
}
.img_wrapper{
 
    justify-content: center;

    .second_container{
      img{
        margin: 0.25rem;
      }
   
    }

   

}

.name_price_continer{
   display: block;
   justify-content: space-between;
   width: 20%;
   height: 36rem;
   padding: 0px 2rem 0px 2rem;
   background-color: aqua;
 
   .productName_wrapper{
    background-color:purple;
   }
   .productPrice_wrapper{
    display: block;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color:purple;
    h6{
        font-size: 1.5rem ;
    }
}

.buttons_wrapper{
    display: block;
    height: 30%;
    background-color:purple;

    .dropdown_container{
        width: 100%;
    }


    .wrapper_button{
    display: flex;
        .favorite_button{

    }

        .card_button{
        width: 7rem;
        padding: 0.50rem;
        margin-left: 5rem;
        border: 5px solid black;
        border-radius: 5px;
        background-color: black;
        color: white;
    
    }
}


}

}






