.cart_container{
  padding: 5rem 15rem;
 margin-top:  5rem;
   
}


 


  .product_ul{
    width: 100%;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    list-style-type: none;


  .no_product{

    .li_1{
      padding-left: 2rem ;
      display: flex;
      align-items: center;
    }
    
  p{
    color: black;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    font-size: larger;

  }

  strong{

    margin-left:3rem ;
  }
  }
    
  img {
        height: 8rem;
      }
      strong {
        color: rgb(26, 24, 24);
        display: block;
      }
    
      span {
        display: block;
        margin-top: 5px;
        font-size: 18px;
        font-weight: bold;
      }
    
      div {
        display: flex;
        align-items: center;
    
        input {
          border: 1px solid #ddd;
          border-radius: 4px;
          color: #666;
          padding: 6px;
          width: 50px;
        }
      }
    
      button {
        background: none;
        border: 0;
        padding: 0.20rem;
      }

      .icon_button{
        color: #017ff0;
        cursor: pointer;
      }
}


@media only screen and (min-width: 800px) {

  .li_body {
    display: inline-flex;  
    padding: 0.50rem;
    border-bottom: 1px solid #eee;
    border: none;
    list-style-type: none;

    justify-content: space-between;
    width: 100%;

  .li_prodict{
  width: 40%;
  }

    li{
      display: block;
      .product{
        position: relative; 
        left: 1rem;
      }
    
      .quantity_div{
        position: relative;
        top: 3rem;
      }

      .sub_total{
        position: relative;
        top: 3rem;  
        left: 1rem;
      }
      
      .icon_trash_button{
        color: #017ff0;
        cursor: pointer;
        position: relative;
        top: 6.5rem;
        right: 3rem;  
     

      }
    }
  }
  footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background: #017ff0;
      color: #fff;
      border: 0;
      border-radius: 4px;
      padding: 12px 20px;
      font-weight: bold;
      text-transform: uppercase;
      transition: background 0.2s;
      cursor: pointer;

        &:hover{
            background-color: #017ff0;
        }
    }

    
  .cart_total{
    display: block;
    align-items: baseline;


    span {
      color: #999;
      font-weight: bold;
    }

    strong {
      font-size: x-large;
      margin-left: 0.25rem;
    }
  }
}
  
}
@media only screen and (max-width: 600px) {
  
  .cart_container{
    padding: 0px;
   

  }
  .product_ul{
    padding: 0px;
    margin: 0px;
    box-shadow: none;
  }
  .li_body {
   display: block;
   height: 16rem;
   padding: 0px;
   border-bottom: 1px solid #999;
 
  .li_remove{
    height: 0px;
  }
  
    li{
      
      img{
        height: 70px;
      }
      strong{
        font-size: small;
      }
      span{
        font-size: small;
      }
      .product{
        margin-top: 1rem ;
        margin-bottom: -0.5rem;
        margin-left: 1rem;
      }
  

      .quantity_h4{
        font-size: small;
        position: relative; 
        left: 1rem;
      }
      .quantity_div{
        position: relative;
        left: 1rem;
        input{
          width: 1.5rem;
        }
        
        svg{
          height: 20px;
        } 
      }
      .sub_total_h4{
        font-size: small;
        position: relative;
        bottom: 5rem;  
        left: 11rem;
      }
      .sub_total{
        font-size: large;
        position: relative;
        bottom: 5rem;  
        left: 11rem;
      }
      
      .icon_trash_button{
        color: #017ff0;
        cursor: pointer;
        position: relative;
        bottom: 17rem;
        left: 15rem;  
     

      }
    }
  }

  footer {
    padding: 2rem ;
    display: block;

    .cart_total{
      display: flex;
      align-items: center;
   
      span {
        padding: 1rem;
        color: #999;
        font-weight: bold;
      }
    
      strong {
        font-size: x-large;
        margin-left: 0.25rem;
      }
  }
  
  button {
    width: 100%;
    background: #017ff0;
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.2s;
    cursor: pointer;

      &:hover{
          background-color: #017ff0;
      }
  }
  }
}

