body{
  overflow-x: scroll;
}
.cart_container{
    padding: 10rem;

    footer {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        button {
          background: #017ff0;
          color: #fff;
          border: 0;
          border-radius: 4px;
          padding: 12px 20px;
          font-weight: bold;
          text-transform: uppercase;
          transition: background 0.2s;
          cursor: pointer;
    
            &:hover{
                background-color: #017ff0;
            }
        }

      }
}

@media only screen and (max-width: 600px) {
  .cart_container{
    padding: 0px;
  }
  .product_table{
    height: 10rem;
    background-color: #017ff0;

   thead{
      th{

      font-size: small;
      font-weight: 800;
      }


      tr{
        padding: 0px;
      }
    }
      
    }

   tbody{
    tr{

        a{
          img{
            height: 50px;
          }
          p{
            font-size: small;
            span{
              font-size: small;
            }
          }
        }
      }
    
   }
   td{
    background-color: #666;
    width: 50px;}
  }


.product_table{
    width: 100%;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;

    
  thead th {
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 0.50rem;

  }
  .th_product{
    padding-left: 2rem;
   
  }

  tbody td {
    padding: 0.50rem;
    border-bottom: 1px solid #eee;
    border: none;
  }
  .no_product{

    .td_1{
      padding-left: 2rem ;
      display: flex;
      align-items: center;
    }
    
  p{
    color: black;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    font-size: larger;

  }

  strong{

    margin-left:3rem ;
  }
  }
    
  img {
        height: 8rem;
      }
      strong {
        color: rgb(26, 24, 24);
        display: block;
      }
    
      span {
        display: block;
        margin-top: 5px;
        font-size: 18px;
        font-weight: bold;
      }
    
      div {
        display: flex;
        align-items: center;
    
        input {
          border: 1px solid #ddd;
          border-radius: 4px;
          color: #666;
          padding: 6px;
          width: 50px;
        }
      }
    
      button {
        background: none;
        border: 0;
        padding: 0.20rem;
    
      
   

      }

      .icon_button{
        color: #017ff0;
        cursor: pointer;
      }
}

.cart_total{
    display: flex;
    align-items: baseline;
  
    span {
      color: #999;
      font-weight: bold;
    }
  
    strong {
      font-size: x-large;
      margin-left: 0.25rem;
    }
}