.container_HomePage {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto;
}

// .container_HomePage {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: center;
//   position: relative;
//   padding: 1rem;
//   margin: auto;
// }
