@media only screen and (max-width: 600px) {
  .homePage_wrapper{
    background-color: red;
    display: block;
  }
}
.container_HomePage {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto;
}

// .container_HomePage {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: center;
//   position: relative;
//   padding: 1rem;
//   margin: auto;
// }
