.main_container_register{
    display: flex;


}
.form_register{
    display: block;
    overflow: hidden;
    align-items: center;
    height: 35rem;
    width: 20rem;
    margin: auto;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .attention_messege{
        display: flex;
        font-size: small;
        color: black;
        margin: 0.25rem;

        .info{
     
        margin-top: 0.15rem;
        margin-left: 0.15rem;
        margin-right: 0.15rem;

        }
   
    }
    
    .attention_messege_pass{
    
        font-size: small;
        color: black;
        margin: 0.25rem;

        .info{
         padding-top: 1px;
        margin-top: 0px;
        margin-left: 0.15rem;
        margin-right: 5px;
        margin-bottom: 0;

        }
   
    }


    .hidden{
        display: none;
    }
    .label_name_email_pass{
 
        display: flex;
        align-items: center;
        margin-top: 0.50rem;
        margin-bottom: 0.50rem;
        padding-top: 0.50rem;
        font-size: large;
        
        .circles{
            background-color: antiquewhite;
            margin: 0.25rem;
            margin-top: 0.50rem;
        }
    }

    input{
        align-items: center;
        font-size: medium;
        height: 1rem;
        width: 93%;
        padding: 0.50rem;
        border: 2px solid black;
        border-radius: 3px;
       
    }

    
  button{
    position: relative;
    top: 2.50rem;
    left: 5rem;
    width: 10rem;
    padding: 0.50rem;
    color: white;
    background-color: black;
    border: 5px solid black;
    border-radius: 3px;
    font-size: large;
  }



.register{
    display: flex;
    position: relative;
    top: 6rem;
    left: 3.50rem;
  .link{
    text-decoration: none;
    color: rgb(77, 65, 65);
    &:hover{
        text-decoration: underline;
    }
  }

}
}