.container{
    display: flex;
    justify-content: space-between;
    max-height: 5.375rem;
    background-color: black;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0  0.25rem;
    width: auto;
    background-color: black;
}
.icon{
    margin: auto;
}
.ShoppingCart{
    color: white;
}