.container{
    display: flex;
    justify-content: space-between;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0.25rem  0.25rem;                                                                                                                                                              
    width: 100%;
    height: 3.60rem;
    background-color: black;

}
.icon{
    margin: auto;
}
.ShoppingCart{
   
    color: white;
}